.Beta-three-endings{
    margin-top: 20px;
width: 100%;
height: 450px;
background-color: blue;
.Beta-three-endings-1{
width: 65%;
height: 450px;
background-color: rgb(84, 56, 56);
.Beta-three-endings-1-1{
width: 25%;
position: relative;
top: -95px;
height: 450px;
background-color: rgb(46, 184, 188);
display: inline-block;

.Beta-root-1{

width: 80px;
height: 30px;
background-color: yellowgreen;
margin-top: 65px;
margin-right: 20px;
.h3root-beta{
font-weight: normal;
    font-family: var(--font-family);
position: relative;
top: -5px;
font-size: 17px;
}
}

.Beta-root-2{

    width: 150px;
    height: 30px;
    background-color: yellowgreen;
    margin-top: 15px;
    margin-right: 20px;

    .aroot-beta{
        font-family: var(--font-family);
        position: relative;
        top: -4px;
        font-size: 15px;
        color: #655558;
text-decoration: none;
    }


    }



    .Beta-root-3{

        width: 150px;
        height: 30px;
        background-color: yellowgreen;
        margin-top: 15px;
        margin-right: 20px;


        .aroot-beta{
            font-family: var(--font-family);
            position: relative;
            top: -4px;
            font-size: 15px;
            color: #655558;
    text-decoration: none;
        }
    


        }

        
    .Beta-root-4{

        width: 150px;
        height: 30px;
        background-color: yellowgreen;
        margin-top: 15px;
        margin-right: 20px;


        .aroot-beta{
            font-family: var(--font-family);
            position: relative;
            top: -4px;
            font-size: 15px;
            color: #655558;
    text-decoration: none;
        }
    


        }


                
    .Beta-root-5{

        width: 150px;
        height: 30px;
        background-color: yellowgreen;
        margin-top: 15px;
        margin-right: 20px;



        .aroot-beta{
            font-family: var(--font-family);
            position: relative;
            top: -4px;
            font-size: 15px;
            color: #655558;
    text-decoration: none;
        }
    


        }

                
    .Beta-root-6{

        width: 150px;
        height: 30px;
        background-color: yellowgreen;
        margin-top: 15px;
        margin-right: 20px;



        .aroot-beta{
            font-family: var(--font-family);
            position: relative;
            top: -4px;
            font-size: 15px;
            color: #655558;
    text-decoration: none;
        }
    



        }




        
                
    .Beta-root-7{

        width: 150px;
        height: 30px;
        background-color: yellowgreen;
        margin-top: 15px;
        margin-right: 20px;


        .aroot-beta{
            font-family: var(--font-family);
            position: relative;
            top: -4px;
            font-size: 15px;
            color: #655558;
    text-decoration: none;
        }
    

        }


}



.Beta-three-endings-1-2{
    width: 40%;
    height: 450px;
    background-color: rgb(46, 184, 188);
    display: inline-block;
position: relative;
top: -126px;

    .Beta-root-2{
width: 150PX;
height: 20PX;
margin-top: 30px;
margin-right: 110px;
        .h3root-beta-1{
            font-weight: normal;
            font-family: var(--font-family);
        position: relative;
        top: 21px;
        right: -20px;
        font-size: 17px;
    background-color: chocolate;
    
        }

  
    }
    .Beta2-root-2{
        background-color: yellow;
             width: 195PX;
             height: 35PX;
             margin-top: 13px;
             margin-right: 130px;
             position: relative;
             top: 40px;

             .aroot-beta-1{
                font-family: var(--font-family);
                position: relative;
                top: 1px;
                font-size: 15px;
                color: #655558;
        text-decoration: none;
        position: relative;
      
             }
         }
    }
    
.Beta-three-endings-1-3{
    width: 30%;
    height: 450px;
    background-color: rgb(46, 184, 188);
    display: inline-block;
    }
}



}