.gallery-2 {
    width: 100%;
    height: 500px;
    margin: 15px 0;
    display: flex;
   flex-flow: row wrap;
    justify-content: center;
    .gallery-center {
      width: 86%;
     height: 100%;
      display: flex;
      flex-flow: row wrap;
      border: 1px solid lightgrey;
      border-radius: 15px;
     .gallery-center-item {
        width: 25%;
       height: 100%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        .gallery-center-item-header {
         width: 100%;
          height: 50px;
          padding-right: 5px;
         h3 {
           font-family: var(--font-family);
           font-size: 15px;
           margin-bottom: 5px;
         }
         p{
           font-family: var(--font-family);
           font-size: 10px;
         }
        }
       .gallery-center-item-images {
           width: 100%;
          height: calc(100% - 50px);
         display: flex;

         
         flex-flow: row wrap;
          padding: 15px;
        .gallery-center-item-images-item{
              width: 50%;
               height: 50%;
                padding: 5px;
             img{
                width: 130px;
                height: 130px;
             }
   
   
   
                       }
                 }
                          }
              }
 }




  .border-less{
       border-left: none !important;
 }
  .border-bottom{
      border-bottom: 1px solid lightgrey;
     opacity: 0.9 ;
  }
  .border-left{
     border-left: 1px solid rgb(240, 235, 235);
   }  



   .view-all{
display: flex;
position: relative;
top:-20px;
right: 103px;
    height: 30px;
    width: 80px;

a{
text-decoration: none;
position: relative;
display: flex;
width:  10px;
height: 10px;
color:#11C3D9;
font-style: normal;
font-family: var(--font-family);
left: -20px;
top: 5px;
p{
font-size: 12px;

}


}

img{
position:relative ;
left: -38px;
display: flex;
margin-top: 2px;
margin-left: -8px;
top:4.5px;
}




   }





   
   .view-all-1{
    display: flex;
    position: relative;
    top:-51px;
    right: -224px;
          height: 30px;
          width: 80px;
    
    a{
    text-decoration: none;
    position: relative;
    display: flex;
    width:  10px;
    height: 10px;
    color:#11C3D9;
    font-style: normal;
    font-family: var(--font-family);
    left: -20px;
    top: 5px;
    p{
    font-size: 12px;
    
    }
    
    
    }
    
    img{
    position:relative ;
    left: -38px;
    display: flex;
    margin-top: 2px;
    margin-left: -8px;
    top:4.5px;
    }
    
    
    
    
         }







         

   
   .view-all-2{
    display: flex;
    position: relative;
    top:-81px;
    right: -550px;
          height: 30px;
          width: 80px;
    
    a{
    text-decoration: none;
    position: relative;
    display: flex;
    width:  10px;
    height: 10px;
    color:#11C3D9;
    font-style: normal;
    font-family: var(--font-family);
    left: -20px;
    top: 5px;
    p{
    font-size: 12px;
    
    }
    
    
    }
    
    img{
    position:relative ;
    left: -38px;
    display: flex;
    margin-top: 2px;
    margin-left: -8px;
    top:4.5px;
    }
    
    
    
    
         }


         
   .view-all-3{
    display: flex;
    position: relative;
    top:-112px;
    right: -875px;
          height: 30px;
          width: 80px;
    
    a{
    text-decoration: none;
    position: relative;
    display: flex;
    width:  10px;
    height: 10px;
    color:#11C3D9;
    font-style: normal;
    font-family: var(--font-family);
    left: -20px;
    top: 5px;
    p{
    font-size: 12px;
    
    }
    
    
    }
    
    img{
    position:relative ;
    left: -38px;
    display: flex;
    margin-top: 2px;
    margin-left: -8px;
    top:4.5px;
    }
    
    
    
    
         }