.r00t0-end-n2{
margin-top: -100px !important;
width: 98%;
height: 200px;
border-top: 1px solid lightgray;
margin: 0px auto;
border-bottom:1px solid lightgray ;

}



.r00t0-end-n2-band{
    width: 75%;
    height: 200px;
    background-color:;

   }


   .r00t0-end-n2-band-1{

    font-weight: normal;
    position: relative;
    right: 10px;
   }

   .p-ret-eee-e{


    color: rgb(104, 100, 100);
   }


   .rooot-band-root-1-1{

    width: 90px;
  height: 15px;
   margin-top:20px;
   p{

     color: aqua;
   }

   i{
      position: relative;
      color: aqua;
      right: 90px;
      font-size: 10px;
      top: -29px;
   }
 }


 .rooooooot-and-bamf-1{
  width: 34%;
height: 200px;
position: relative;
right:1118px;
top: -163px;
 }





 .rooooooot-and-bamf-1-5{
  width: 120px;
position: relative;
height: 120px;
border-radius: 8px;
border:  1px solid lightgray;
top: 30px;
right: 5px;

img{
    display: flex;
width: 80px;
height: 80px;
margin-right: -5px;
margin-top: 8px;
}
 }



 


 .rooooooot-and-bamf-1-6{
    width: 120px;
  position: relative;
  height: 120px;
  border-radius: 8px;
  border:  1px solid lightgray;
  top: -91px;
  right: 131px;



  img{
    display: flex;
width: 90px;
height: 90px;
margin-right: -5px;
margin-top: 5px;
}


   }


   

 .rooooooot-and-bamf-1-7{
    width: 120px;
  position: relative;
  height: 120px;
  border-radius: 8px;
  border:  1px solid lightgray;
  top: -211px;
  right: 256px;


  img{
    display: flex;
width: 90px;
height: 90px;
margin-right: -5px;
margin-top: 5px;
}


   }





   .p-root{
   position: relative;
   top: 30px;
margin-right: 280px;
            
   }



   .top-root-band-root-and{
        width: 100%;
  height: 190px;
display: flex;
margin-top: 65px;
}




.top-root-band-root-and-1{
width: 100%;

height: 95px;
background-color: #f4e7f4;


}




.top-root-band-root-and-1-1{
float: left;
    display: inline-block;
    width:12.5%;
    height: 95px;
    border: 1px solid lightgray;

    img{
     display: block;
     width: 90px;
         height: 90px;
         margin: 0px auto;
           margin-right: 35px !important;
           margin-top: -5px;
        }
    }





    .top-root-band-root-and-2{

       width: 100%;
height: 95px;

display: block;
margin-top: 94px;





    }



    .top-root-band-root-and-2-1{
        display: inline-block;
    width: 16.6%;
    height: 95px;
    border: 1px solid  lightgray;
    background-color: #f4e7f4;
    
    float: left;
    



    .r-3-e-3-e-3-e-3{
       width: 190px;
  
        height: 50px;
        position: relative;
        
        right: 20px;
            top: 20px;


    img{
      width: 100%;

       height: 100%;
       position: relative;
       top: 3px;
       right: 20px !important;
    }


    }




    }