.top-0root-1-2-12-2-2{

    display: flex;
    width: 100%;
    
    height: 450px;
    position: relative;
    top: 45px;
    border-top:1px solid lightgray ;
}

.top-svg-1--1-1--1{



    width:100%;
      height: 80px;
      position: relative;
      top: 35px;
      img{
       width: 13%;
      position: relative;
      top: 10px;
      
      right: 20px;
}
}




  
      
      
.top-rt02-2-button{
    width: 200px;
    height: 50px;
    position: relative;
    right:1300px ;
    top: -43px;
    
    button{
    position: relative;
    top: 10px;
    width: 150px;
    height: 40px;
    top: 1px;
    right:20px ;
    border-radius: 8px;
    border: 1px solid lightgray;
    cursor: pointer;
    
    p{
    color: rgb(145, 144, 144);
    
    }
    
    }
    
    
    
    .img-rt02-2-button{
    position: relative;
    top: 10px;
    right: -20px !important;
    }
    }





    .band-top-1-1-2{
        display: inline-block;
            width: 210px;
        height: 100%;
        border-left: 1px solid rgb(40, 38, 38);
        position: relative;
        top: 10px !important;
        p{
        font-size: 14px;
        position: relative;
        left: -5px;
        font-weight: 100;
        color: rgb(58, 56, 56);
        top: -2px;
        }
        
        }
        
        
        
        .band-top-1-1-3{
        width: 280px;
        height: 100%;
        display: inline-block;
        position: relative;
        top: 3px;
        p{
        
            font-size: 14px;
            position: relative;
            left: -25px;
            font-weight: 100;
            color: rgb(50, 48, 48);
            top: 5px;
        
        }
        }
        
        
        
        
        
        .band-top-1-1-2-1{
        position: relative;
            display: inline-block;
            width: 130px;
        height: 100%;
        border-left: 1px solid rgb(43, 42, 42);
        top: 10px;
        
        p{
            font-size: 14px;
            position: relative;
            left: -35px;
            font-weight: 100;
            color: rgb(52, 51, 51);
                    top: -1px;
        
        
        }
        }
        
        









        .root-banjjd-5-1-7{
           width: 100%;
                 margin-top: 30px;
           height: 95px;




           .svg-band-root-6-5-4-2-3-{
              margin-left: 150px;
            position: relative;
            left: -120px;
            display: inline-block;
            width: 130px;
            height: 100%;
                    top: 1px;


                img{
                 width: 60px;
                  height: 60px;
                   margin: 0 auto;
                   position: relative;
                   top: 6px;
                      right: 35px;
                }
           }

           p{
                font-size: 13px;
                position: relative;
                right: 10px;
             

           }
        }




        .top-band-robrt-g-ff-dd-3-2{

        display: inline-block;
         
            width: 100%;

            height: 340px;



          

            .top-band-robrt-g-ff-dd-3-3{

             width: 65%;
             height: 340px;
                     

                  
            }








            
   

        }


   





        .borf-mnof-r-r-1-5-1-4-{
                  
        display: inline-block;
             
        width: 30.6%;
        height: 340px;
          margin-left: 20px;
          position: relative;
          left: -20px;
                

          .v-w-x-2-2-5-5{
           width: 130px;
              height: 100%;


          }

           


          .c-b-t-q-1{
           width: 100%;
           height: 25px;
                      margin-bottom: 16px;
                    position: relative;
                    top: 40px;
             

                    p{
                     font-size: 16px;
                      top: -3px;
                      color: lightgray;
                    }
          }



        }




        .w-o-p-2-5{
            font-size: 18px !important;
            position: relative;
            top: -10px;
            color: black !important;
        }






        
        #v-1-1{


            position: relative;
            top: -40px !important;
        }

        #v-2-2{
         

            position: relative;
            top: -122px !important;

        }


        #a-1-5-2{
            position: relative;

            left: -110px !important;
            width: 189px;

        }








        .wot-rot-bot-5-5-0-0{

            width: 35%;
 
            height: 300px;

              position: relative;
              left: -985px;
              top: -310px;

        }

        .rroott-bnd-tp-4-6-8{

            width: 360px;
            height: 60px;
            position: relative;
            right: 100px;
            top: 60px;
        }

        .rroott-bnd-tp-4-9-8{
            position: relative;
         width: 130px;
            height: 40px;
         top: 60px;
         right: 100px;
         p{
          position: relative;

          font-size: 17px;
          
         }
        }


        .rroott-bnd-tp-4-7-8{



            position: relative;
            width: 430px;
               height: 85px;
            top: 65px;
            right: 100px;

            #default-search{
                top: 30px;
                position: relative;
                right: 20px;
                width: 310px;
                height: 50px;
                border-radius: 8px;
                text-decoration: none;
                outline:none;
                border: none;
              background-color: rgb(242, 234, 234);
                  font-size: 16px;
            
            }



            #button{
                 position: relative;
                width: 55px;
                    height: 50px;
                    border-radius: 8px;
                    border: none;
                    background-color: #e0e0e2;
                    cursor: pointer;
                     top: 29px;

                     right: 30px;


                     font-size: 16px;
                     color: rgb(255, 255, 255);
            }

        }


        .rroott-bnd-tp-5-6-8{
           height: 100%;
           width: 80px;
             display: inline-block;


             img{
                position: relative;
              width: 50px;

              right: 14px !important;
             }
        }




        .r-e-c-4-b-b{
          width: 350px;
          height: 40px;
         font-size: 18px !important;
         position: relative;
         top: -300px !important;
            right: 1100px !important;

         p{
            position: relative;
            top: -6px;
        
         }
        }


        .rign-band-r-band-top-r4-4{
          width: 98%;
          height: 70px;
          background-color: #3c4b6d;
      margin: 0 auto !important;
    border-radius: 8px;
      margin-top: -150px !important;
        }


        .d-c-c-c-c-c-c-c-c-c--1-1-1-{
          position: relative;
      

          img{
           width: 30px !important;
            height: 30px !important;
          }
        }


        .y2-b-2{
         position: relative;
       width: 50px;
       height: 50px;
             top: 10px;
             right: 20px;
             border-radius: 8px;

        img{
         width: 100%;
           height: 100%;
            position: relative;
            top: 0.8px;
                 right: -1px;

        }


        }



        
        .y2-b-3{
            position: relative;
          width: 50px;
          height: 50px;
          background-color: rgb(231, 231, 229);
                top: -40px;
                right: 1420px;
                border-radius: 8px;
                    
                img{
                    position: relative;
                  width: 50px;
                  left: 10px !important;
                       top: 1px;
                    right:1px;


                }
           }


           .r-h-h-h-h-1{
            width: 160px;
              height: 50px;
             position: relative;
                 top: -60px;
             right: 890px;
             img{
                width: 100%;
                height: 100%;
                margin: 0 auto;
                position: relative;
                top: -0.5px;
                right: 0.6px;
             }
           }




           .r-h-h-h-h-2{


            width: 160px;
            height: 50px;
           position: relative;
               top: -110px;
           right: 1070px;


           img{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            top: -0.5px;
            right: 0.6px;
         }



           }



           .r-h-h-h-h-3{

            width: 160px;
            height: 50px;
           position: relative;
               top: -160px;
           right: 1250px;


           img{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            top: -0.5px;
            right: 0.6px;
         }

           }

           